.node ul {
  list-style-type: circle;
  color: blue;
}

.node ul li {
  margin-left: 30px;
}

.node ul li {
   //no style
}



#secondnav .menu li {
    position: relative;
    z-index: 1;
}

.filter-wrapper {
    display: none;
}
.filter-guidelines {
  display: none;
}


.comment-form {
  //label
  //input
}

#edit-submit {

}

#edit-preview {

}

.messages__list {

}

.comment-add {
    display: none;
}

.comment .permalink {
    display: none;
}

.comment {
    margin-left: 1em;
    border-left: 5px solid green;
    padding-left: 5px;
}

.comment-reply {
    // a
}