.icon-blog { background-image: url('blog.png'); background-repeat: no-repeat; }

.icon-css3 { background-image: url('css3.png'); background-repeat: no-repeat; }

.icon-drupal { background-image: url('drupal.png'); background-repeat: no-repeat; }

.icon-grunt { background-image: url('grunt.png'); background-repeat: no-repeat; }

.icon-html5 { background-image: url('html5.png'); background-repeat: no-repeat; }

.icon-jquery { background-image: url('jquery.png'); background-repeat: no-repeat; }

.icon-mysql { background-image: url('mysql.png'); background-repeat: no-repeat; }

.icon-node.js { background-image: url('node.js.png'); background-repeat: no-repeat; }

.icon-performance { background-image: url('performance.png'); background-repeat: no-repeat; }

.icon-php { background-image: url('php.png'); background-repeat: no-repeat; }

.icon-responsive { background-image: url('responsive.png'); background-repeat: no-repeat; }

.icon-sass { background-image: url('sass.png'); background-repeat: no-repeat; }

.icon-symfony { background-image: url('symfony.png'); background-repeat: no-repeat; }

