.icon-logo { background-image: url('logo.png'); background-repeat: no-repeat; }

.icon-logo_medium { background-image: url('logo_medium.png'); background-repeat: no-repeat; }

.icon-logo_simple { background-image: url('logo_simple.png'); background-repeat: no-repeat; }

.icon-logo_simple_medium { background-image: url('logo_simple_medium.png'); background-repeat: no-repeat; }

